#logo{
    width:100% !important;
    height: auto;
}
@media only screen and (max-width: 600px) {
    .res-flex{
        display: flex !important;
        flex-direction: column-reverse !important;
    } 
    .col-b{
        width: 100% !important;
    }
}
